<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>
        </div>
        <div class="form-control">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
        </div>
        <input type="submit" value="Entrar">
        <p>Não tem uma conta? <a href="/register">Clique aqui</a></p>
    </form>
</div>
