<div class="tought-form-container">
    <a href="/tought/dashboard">Voltar</a>
    <h1>Criando u Pensamento:</h1>
    <form action="/toughts/add" method="POST">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="digite o seu pensamento...">
    </div>
    <input type="submit" value="Criar Pensamento">
    </form>
</div>